.Container {
  margin-right: 30px;
  margin-left: 30px; }

.jumbotron {
  background-color: #F60505;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.nav-link {
  color: #E3E3E3; }

a {
  text-decoration: none; }

a:hover {
  color: white; }

/*Footer Comments*/
footer {
  padding: 10px 10px 0 10px;
  background-color: #F60505;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer-address-icon {
  margin-right: 8px; }

.footer-link-socialmedia {
  color: #E3E3E3; }

.footer-address-text {
  color: #E3E3E3; }

.footer-nav {
  color: #E3E3E3; }
